body {
    font-family: Arial;
}

#menu {
    width: 800px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: lightblue;
    border: 1px solid black;
}

#menu ul, #menu li {
    padding: 0;
    margin: 0;
}
#menu li {
    position: relative;
    float: left;
    list-style: none;
    padding:0;
    margin: 0;
}


#menu li a {
    width: 200px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background: black;
    color: white;
}

#menu ul ul li a {
    width: 190px;
    padding-left: 10px;
    text-align: left;
}
#menu li a:hover {
    background: red;
}
#menu ul ul {
    position: absolute;
    top: 30px;
    left: 0;
    visibility: hidden;
}
#menu ul li:hover ul {
    visibility: visible;
}