body {
    font-size: 14px;
    font-weight: 500;
    background: blue url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh-NtKwFgMW_Q8t1-e53aO6XdSBxM_kAxXqw&usqp=CAU") no-repeat fixed;
    background-size: 100%;
}
h5 {
    margin: 2px;
}